@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@unocss all;

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
  outline: none;
}

body {
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

tr td {
  padding: 8px;
}

input:focus,
textarea:focus {
  outline: none;
}

input {
  @apply bg-transparent focus:outline-none;
}

.input {
  @apply bg-transparent p-2 border border-white/10 rounded focus:border-primary;
}

button {
  @apply cursor-pointer;
}

[contenteditable="true"]:empty::before {
  content: attr(data-placeholder);
  pointer-events: none;
  @apply text-gray;
}

[contenteditable="true"]:empty:focus::before {
  content: "";
}

.rc-slider-handle {
  background-color: #00d897 !important;
  border-color: #00d897 !important;
  box-shadow: rgba(0, 216, 151, 0.5) !important;
}

.rc-slider-handle:hover {
  border-color: #00d897 !important;
  box-shadow: 0 0 0 5px rgba(0, 216, 151, 0.4) !important;
}

.rc-slider-track {
  background-color: #00d897 !important;
}

.rc-slider-handle:active {
  box-shadow: 0 0 0 8px rgba(0, 216, 151, 0.5) !important;
}

.rc-slider-rail {
  background-color: rgba(255, 255, 255, 0.75);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

@keyframes bounceDots {
  0%,
  80%,
  100% {
    transform: translateY(0);
    opacity: 0.6;
  }
  40% {
    transform: translateY(-4px);
    opacity: 1;
  }
}
.animate-bounce-dot {
  animation: bounceDots 1.3s infinite;
}
